@import url("https://fonts.googleapis.com/css?family=Encode+Sans|Hind+Siliguri|Montserrat");
body {
  font-family: 'Encode Sans', sans-serif;
  color: #7D7C7C;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

.App-container {
  max-width: 1120px;
  margin: 0 auto; }

.App-row {
  padding: 20px; }

.App-flexbox {
  display: flex;
  flex-wrap: wrap; }

.App-half {
  width: 50%; }

.dark {
  background-color: #2D2C2C;
  color: white; }

.text-white {
  color: white; }

.text-green {
  color: #61A60D; }

hr {
  border-top: 1px solid #F3F2F2; }

.App-header {
  background-color: #F3F2F2;
  height: 140px;
  padding-top: 70px; }

.App-color-box {
  display: flex;
  width: 29%;
  padding: 20px; }

.App-color-circle {
  width: 70px;
  height: 70px;
  margin-right: 35px;
  border-radius: 50%; }
  .App-color-circle.bg-grey {
    background-color: #F3F2F2; }
  .App-color-circle.title-grey {
    background-color: #434343; }
  .App-color-circle.light-text-grey {
    background-color: #7D7C7C; }
  .App-color-circle.highlight-purple {
    background-color: #AD619D; }
  .App-color-circle.cta-green {
    background-color: #61A60D; }
  .App-color-circle.image-overlay-grey {
    background-color: #2D2C2C; }
  .App-color-circle.pink {
    background-color: #DD4E75; }
  .App-color-circle.beige {
    background-color: #F3DBB7; }
  .App-color-circle.purple-two {
    background-color: #9D4976; }

.App-slider {
  font-size: 45px;
  line-height: 55px;
  font-family: 'Montserrat';
  font-weight: 200;
  margin: 0; }

.App-title {
  font-size: 35px;
  line-height: 45px;
  font-family: 'Montserrat';
  font-weight: 200;
  color: #434343;
  margin: 0; }

.App-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-family: 'Hind Siliguri';
  font-weight: 500;
  color: #7D7C7C;
  margin: 0; }

.App-featured-ctas {
  font-size: 16px;
  line-height: 26px;
  font-family: 'Hind Siliguri';
  font-weight: bold;
  margin: 0; }

.App-bio-titles-and-names {
  font-size: 22px;
  line-height: 32px;
  font-family: 'Hind Siliguri';
  font-weight: 400;
  margin: 0; }

table {
  width: 100%;
  text-align: left;
  color: #434343; }
  table tr th, table tr td {
    padding: 20px;
    border-right: 1px solid #F3F2F2; }
  table tr.bg-grey {
    background-color: #F3F2F2; }
