@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Hind+Siliguri|Montserrat');
$background-grey: #F3F2F2;
$title-grey: #434343;
$light-text-grey: #7D7C7C;
$highlight-purple: #AD619D;
$cta-green: #61A60D;
$image-overlay-grey: #2D2C2C;
$pink: #DD4E75;
$beige: #F3DBB7;
$purple-two: #9D4976;

body {
	font-family: 'Encode Sans', sans-serif;
	font-size: 13px; 
	line-height: 26px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.App-container {
	max-width: 1120px;
	margin: 0 auto;
}

.App-row {
	padding: 20px;
}

.App-column {
	width: 60px;
}

.App-gutter {
	width: 32px;
}

.App-column-box {
	height: 200px;
	background-color: #FF7E7E;
}

.App-flexbox {
	display: flex;
	flex-wrap: wrap;
}

.App-half {
	width: 50%;
}

.App-third {
	width: 33%;
}

.dark {
	background-color: $image-overlay-grey;
	color: white;
}

.text-white {
	color: white;
}

.text-green {
	color: $cta-green;
}

.text-grey {
	color: $light-text-grey;
}

hr {
	border-top: 1px solid $background-grey;
}

.App-header {
	background-color: $background-grey;
	height: 140px;
	padding-top: 70px;
}

.App-color-box {
	display: flex;
	width: 29%;
	padding: 20px;
}

.App-color-circle {
	width: 70px;
	height: 70px;
	margin-right: 35px;
	border-radius: 50%;
	&.bg-grey {
		background-color: $background-grey;
	}
	&.title-grey {
		background-color: $title-grey;
	}
	&.light-text-grey {
		background-color: $light-text-grey;
	}
	&.highlight-purple{
		background-color: $highlight-purple;
	}
	&.cta-green {
		background-color: $cta-green;
	}
	&.image-overlay-grey {
		background-color: $image-overlay-grey;
	}
	&.pink {
		background-color: $pink;
	}
	&.beige {
		background-color: $beige;
	}
	&.purple-two {
		background-color: $purple-two;
	}
}

.App-slider {
	font-size: 45px;
	line-height: 55px;
	font-family: 'Montserrat';
	margin: 0;
}

.App-title {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Montserrat';
	font-weight: 200;
	margin: 0;
}

.App-tile-titles {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Montserrat';
	font-weight: 200;
	margin: 0;
}

.App-bio-titles-and-names {
	font-size: 22px;
	line-height: 32px;
	font-family: 'Hind Siliguri';
	font-weight: 400;
	margin: 0;
}

.App-subtitle {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Hind Siliguri';
	font-weight: 500;
	margin: 0;
}

.App-featured-ctas {
	font-size: 16px;
	line-height: 26px;
	font-family: 'Hind Siliguri';
	font-weight: bold;
	margin: 0;
}

table {
	width: 100%;
	text-align: left;
	color: $title-grey;
	tr {
		th,td {
			padding: 20px;
			border-right: 1px solid #F1F1F1;
		}
		&.bg-grey {
			background-color: $background-grey;
		}
	}
}

ul {
	list-style: none;
	padding-left: 17px;
	li {
		font-size: 16px;
		&::before {
			content: "•";
			color: $purple-two;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
			padding-right: 15px;
		}
	}
}

ol {
	list-style: none;
	counter-reset: li;
	li {
		counter-increment: li;
		font-size: 16px;
		&::before {
			content: counter(li);
			color: $purple-two;
			display: inline-block; 
			width: 1em;
			margin-left: -1em;
			padding-right: 15px;
		}
	}
}

.App-header-example {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding: 20px 20px 10px 20px;
	border-top: 1px solid $background-grey;
	border-bottom: 2px solid #CBCBCB;
	.App-searchbar-logo {
		position: absolute;
		top: 33px;
		left: 275px;
		font-size: 15px;
		fill: $cta-green;
	}
}

.App-logo {
	height: 40px;
}

.App-searchbar {
	margin: 0 30px;
	border: 1px solid #D4D2D2;
	border-radius: 4px;
	flex-grow: 1;
	text-indent: 30px;
	font-size: 12px;
}

.App-shopping-cart-logo, 
.App-profile-logo {
	font-size: 30px;
	align-self: center;
	margin: 0 10px;
}

.App-profile-logo {
	border-radius: 50%;
	border: 1px solid black;
}

.my-asi {
	align-self: center;
	color: $light-text-grey;
}

.App-header-divider {
	width: 1px;
	height: 25px;
	background-color: $light-text-grey;
	align-self: center;
	margin: 0 15px;
}

.App-menu {
	font-size: 35px;
	align-self: center;
	color: $title-grey;
}

.App-secondary-nav {
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: center;
}

.App-secondary-nav-logo{
	align-self: center;
	font-size: 25px;
	color: $cta-green;
}

.App-secondary-nav-text-cta {
	align-self: center;
	margin: 5px 15px 0 15px;
	text-transform: uppercase;
	font-size: 14px;
}

.App-purple {
	background-color: $highlight-purple;
}

.App-footer-text {
	color: white;
	h1 {
		font-size: 28px;
	}
	.text-bold {
		font-weight: bold;
	}
	.text-light {
		font-weight: 200;
	}
}

footer .App-flexbox {
	justify-content: space-around;
}

.App-footer-inputs {
	height: 55px;
	margin-top: 10px;
	input {
		width: 200px;
		height: 100%;
		margin-right: 10px;
		text-indent: 15px;
		background-color: #8F4F81;
		border: none;
		border-radius: 4px;
		&::placeholder{
			color: white;
			opacity: 1;
		}

	}
	button {
		width: 150px;
	}
}

.App-footer-container {
	flex-wrap: wrap;
}

.App-social-icons {
	width: 100%;
	display: flex;
	justify-content: center;

	h5 {
		color: $highlight-purple;
		font-weight: 700;
		margin-bottom: 20px;
		text-align: center;
	}
}

.App-social-icon-box {
	padding: 8px 12px;
	margin: 0 10px;
	font-size: 20px;
	color: white;
	background-color: black;
	svg {
		align-self: center;
		vertical-align: inherit !important;
	}
}

.App-callout-text {
	margin-left: 5px;
}

.text-green {
	color: $cta-green;
}

.text-center {
	text-align: center;
}

.App-footer-icons {
	font-size: 50px;
}