@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Hind+Siliguri|Montserrat');
$background-grey: #F3F2F2;
$title-grey: #434343;
$light-text-grey: #7D7C7C;
$highlight-purple: #AD619D;
$cta-green: #61A60D;
$image-overlay-grey: #2D2C2C;
$pink: #DD4E75;
$beige: #F3DBB7;
$purple-two: #9D4976;

body {
	font-family: 'Encode Sans', sans-serif;
	color: $light-text-grey;
	font-size: 13px; 
	line-height: 26px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.App-container {
	max-width: 1120px;
	margin: 0 auto;
}

.App-row {
	padding: 20px;
}

.App-flexbox {
	display: flex;
	flex-wrap: wrap;
}

.App-half {
	width: 50%;
}

.dark {
	background-color: $image-overlay-grey;
	color: white;
}

.text-white {
	color: white;
}

.text-green {
	color: $cta-green;
}

hr {
	border-top: 1px solid $background-grey;
}

.App-header {
	background-color: $background-grey;
	height: 140px;
	padding-top: 70px;
}

.App-color-box {
	display: flex;
	width: 29%;
	padding: 20px;
}

.App-color-circle {
	width: 70px;
	height: 70px;
	margin-right: 35px;
	border-radius: 50%;
	&.bg-grey {
		background-color: $background-grey;
	}
	&.title-grey {
		background-color: $title-grey;
	}
	&.light-text-grey {
		background-color: $light-text-grey;
	}
	&.highlight-purple{
		background-color: $highlight-purple;
	}
	&.cta-green {
		background-color: $cta-green;
	}
	&.image-overlay-grey {
		background-color: $image-overlay-grey;
	}
	&.pink {
		background-color: $pink;
	}
	&.beige {
		background-color: $beige;
	}
	&.purple-two {
		background-color: $purple-two;
	}
}

.App-slider {
	font-size: 45px;
	line-height: 55px;
	font-family: 'Montserrat';
	font-weight: 200;
	margin: 0;
}
.App-title {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Montserrat';
	font-weight: 200;
	color: $title-grey;
	margin: 0;
}

.App-subtitle {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Hind Siliguri';
	font-weight: 500;
	color: $light-text-grey;
	margin: 0;
}

.App-featured-ctas {
	font-size: 16px;
	line-height: 26px;
	font-family: 'Hind Siliguri';
	font-weight: bold;
	margin: 0;
}

.App-bio-titles-and-names {
	font-size: 22px;
	line-height: 32px;
	font-family: 'Hind Siliguri';
	font-weight: 400;
	margin: 0;
}

table {
	width: 100%;
	text-align: left;
	color: $title-grey;
	tr {
		th,td {
			padding: 20px;
			border-right: 1px solid $background-grey;
		}
		&.bg-grey {
			background-color: $background-grey;
		}
	}
}

